<div class="jumbotron">
	
	<center>
		<h1>Welcome to Eggie's Donuts!</h1>

		<img src="http://orig13.deviantart.net/b28b/f/2009/206/9/5/the_donut_king_by_yamihyuga.jpg">
		<br>

		<%= link_to "Donut Time! Take a look!", donuts_path, class: "btn btn-default" %>
	</center>
</div>

<p>This is a test</p>